@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600&family=UnifrakturCook:wght@700&family=EB+Garamond&family=Italianno&family=Alex+Brush&family=Cardo&family=Herr+Von+Muellerhoff&family=Josefin+Slab:ital@0;1&family=Mr+Dafoe&family=Pinyon+Script&family=Poiret+One&family=Reenie+Beanie&family=Rock+Salt&family=Rokkitt:wght@200;400&family=Yellowtail&display=swap');

html, body {
    padding: 0;
    margin: 0;
    font-family: 'Nunito', sans-serif;
    animation: fadeIn 1s ease forwards;
    transition: all cubic-bezier(0.075, 0.82, 0.165, 1);
    overflow-x: hidden;
}

.fadeOut {
    animation: fadeOut 1.2s ease forwards;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}