@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Nunito', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
